@media (max-width:900px){
  .menu{
    text-align: center;
  }
}
@media (max-width: 900px) {
#contenido{
width: 900px;
margin: 0 auto;
order: 1;
}
}
@media (max-width: 900px){
  #imagenes{
    direction: flex;
    flex-direction: column;
}

}
@keyframes sleiden{
 0%{
    margin-top: 150%
  }60%{
    margin-top: -5%
  }100%{
    margin-top: 0%
  }
}
body{
background-color: #02010a;
font-family: 'Dancing Script', cursive;
animation-name: sleiden;
animation-duration: 1s;
}
#contenido{
  max-width:900px;
  margin: auto;
}
header{
  background-color:  #5b7989;
  border-radius: 10px 10px 0 0;
  text-shadow: 2px 2px 2px #02010a;
  color: white;
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  align-items: center;
}
a{
  color: white;
}
#imagen .img{
  text-align: center;
  background-color: #82c3a6;
  height: 600px;
}
.img{
  margin-top: 10px;
}
.img .img1 .img2{

  -webkit-filter: drop-shadow(2px 2px 2px #82c3a6);
   filter: drop-shadow(2px 2px 2px #82c3a6);
}
#imagenes{
  justify-content: center;
  display: flex;
  flex-direction: row;
  background-color:  #d5c75f;
  height: 580px;
}
.img1{
  margin: 0 auto;
  transform: rotate 1s;
}

.img1:hover{
  transform: rotate(10deg);
}
.img2{
  margin: 0 auto;
  transform: translate 1s;
}
.img2:hover{
  transform:translate(20px, -5px);
}
footer{
  background-color:  #C6d5c5;
  border-radius: 0 0 10px 10px;
  height: 300px;
}
#final{
  margin-left: 30px;
  padding: 0;
  width: 100%;
	display: flex;
	flex-flow: row wrap;
}
#final section{
  box-sizing: border-box;
  min-height: 600px;
  min-width: 100px;
}
.contacto{
  width: 25%;
}
.termino{
  width: 25%;
}
.redes{
  width: 25%;
}
.derechos{
  width: 25%;
}
